:root {
    --dark-sea-green: #84a98cff;
    --dark-slate-gray: #354f52ff;
    --charcoal: #2f3e46ff;
    --hookers-green: #52796fff;
     --ash-gray: rgb(214, 216, 213);
  }
  
  header {
    background-color: var(--dark-slate-gray);
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(13, 86, 0);
    padding: 20px;
  }
  
  body {
    background-color: var(--ash-gray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  main {
    align-items: center;
  }
  
  section,
  .section {
    display: none;
    justify-content: center;
  }
  
  section {
    display: none;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 768px;
    margin: 20px;
    gap: 20px;
    align-items: center;
    padding: 50px;
  }
  
  section.active,
  .section.active {
    display: flex;
  }
  
  .remaining-time {
    display: none;
  }
  
  .remaining-time.js-is-counting {
    display: flex;
  }
  

  
  .button {
    --border-radius: 9px;
    background-color: var (var(--dark-sea-green));
    color: black;
    border-radius: var(--dark-sea-green);
    padding: 10px;
  }
  

  
  .questions-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding-left: 0;
    width: 100%;
  }
  
  .questions-list input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    clip: 0;
  }
  
  .questions-list span {
    padding: 10px;
    background-color: var(--hookers-green);
    border-radius: 10px;
    width: 100%;
    color: black;
  }
  
  .questions-list label {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .questions-list input:is(:checked) + span {
    background: var(--charcoal);
  }
  
  .initials input {
    margin-left: 10px;
  }